body{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;

  background-image: url('https://final-project-301.github.io/client-side/img/leaves_tile.jpg');
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 40%), url('https://final-project-301.github.io/client-side/img/leaves_tile.jpg');

}

#makeTextBigger{
  font-size: 1.4em;
}

#header-nav h1{
  padding-bottom:40px;
  font-size:5vh;
  padding-top:40px;
}

#header-nav {
  font-family: 'Love Ya Like A Sister', cursive, 'Comic Sans';
}
#references {
  line-height: 28px;
  margin-top:3%;
  border-top: grey solid 2px;
}

#filter {
  border: 2px grey solid ;
  border-radius: 6px;
  background-color: #D6FFD4;
  padding:10px;
  width:70%
}
h2{
  padding:5%;
}

.bio {
  line-height: 28px;  
}

strong {
  font-weight: bold;
}
header{
  background-color:#D6FFD4;  
  padding-top: 2%;
  padding-bottom: 2%;
}
a{
  color:black;
  text-decoration: none;   
}

p a{ 
  font-weight:bold;
}
 
input {
  width: 70%;
  margin-bottom: 5vw;
  padding: 2vh;
  margin-left: 6vw;
  border-radius: 6px;
  font-size: 100%;
  color:grey;
  border: grey 2px solid;
  text-align:center;
}

#autoDiv {
  text-align: center;
}

#activities {
  text-align: center;
  margin-bottom: 2em;

}

button{
  width: 40%;
  margin-top: 2em;
  margin-left: 6vw;
  border-radius: 6px;
  font-size: 100%;
  color:grey;
  border: grey 2px solid;
}
#logo{
  font-size: 7vw;
  width: 160px;
}

li a{
  color:black;
  text-decoration: none;
}

nav li {
font-size:4vh;
}

footer div {
  padding:4%;
}

#activities input{
  width:5%;
 }

#map {
  width: 100%;
  height: 600px;
  width: 90%;
  margin:0 auto;
}

#activity-filter{
  width:30%;
  max-height:15%;
  font-size: 120%;
 
}

ul {
  margin: 0px auto;
}

h2 {
  font-weight: bold;
  font-size: 25px;
}

footer div{
  background-color:rgb(210, 250, 206);
  text-align: center;
  margin-top: 10%;
  height: 10%;
  padding: 2%
}

#hero-image {
  width:100%;
  margin-bottom: 4%;
  border-radius:0;
}

