body{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;

}
h2{
  padding:5%;
}
/* p{
  line-height: 25px;
} */
strong {
  font-weight: bold;
}
header{
  background-color:rgb(161, 255, 155);  
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom:2%;
}
a{
  color:black;
  text-decoration: none; 
  
}
p a{ 
  font-weight:bold;
}
 
input {
  width: 70%;
  margin-bottom: 5vw;
  padding: 2vw;
  margin-left:6vw;
  border-radius: 6px;
  font-size: 100%;
  color:grey;
  border: grey 2px solid;
  text-align:center;
}

button{
  width: 30%;
  margin-bottom: 5vw;
  padding: 2vw;
  margin-left: 6vw;
  border-radius: 6px;
  font-size: 100%;
  color:grey;
  border: grey 2px solid;

}
#logo{
  font-size: 7vw;
}
li a{
  color:black;
  text-decoration: none;
}
nav li {
font-size:5vw;
}

/* div {
  padding:4%;
} */

#activities input{
  width:5%;
 }
#map {
  width: 100%;
  height: 400px;
  width: 90%;
  margin:0 auto;
}
#activity-filter{
  width:30%;
  max-height:15%;
  font-size: 120%;

}
#activities {
  margin-left: 6vw;
}
footer div{
  background-color:rgb(161, 255, 155);
  text-align: center;
  margin-top: 10%;
  height: 10%;

}
#hero-image {
  width:100%;
  margin-bottom: 10%;
  border-radius:0;
}

