body{
  margin: 0 auto;
}
header {
  width: 100%;
  height:200px;
}
.template-d {
  padding-bottom:3%;
}
nav li{
  display:block;
  padding-right: 20px;
  padding-bottom: 2vh;
}
h2 {
  display: inline-block;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
}
#aboutUsPage {
  margin-left: 10%;
  margin-right: 10%;
}

.bioImage {
  margin-right: 10%;
  border-radius: 10px; 
  border-top-left-radius: 10px;
  margin-top:2%
}
#header-nav{
  margin-left:20px;
}

img{
  border-radius: 6px;
  display:block;
}
#logo{
  float:left;
  margin-right: 0;
}

form{
  width:100%;
}

#content div {
  height: 40px;
  width: 20px;
  margin: 0 px;
  padding: 0px;
}
#filter-lab{
  margin-bottom:1.5vh;
}
li {
  padding-bottom:0.5vh;
}

