body{
  margin: 0 auto;
}
header {
  width: 100%;
  height:200px;

}
nav li{
  display:inline;
  padding-right:4%;
}
h2 {
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
}
#aboutUsPage {
  margin-left: 10%;
  margin-right: 10%;
}

.topImage {
  margin-top: 120px;
  margin-right: 10%;
  border-radius: 10px; 
  border-top-left-radius: 10px;
}
#header-nav{
  margin-top:2%;
  margin-left:20%;
}

img{
  border-radius: 6px;
  display:block;
}
#logo{
  float:left;
  margin-right: 0;
}

form{
  width:100%;
}

#content div {
  height: 40px;
  width: 20px;
  margin: 0 px;
  padding: 0px;
}