body{
  margin: 0 auto;
}
header {
  width: 100%;

}
nav li{
  display:inline;
  padding-right:3%;
}
h2 {
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
}
#aboutUsPage {
  margin-left: 10%;
  margin-right: 10%;
}

.topImage {
  margin-top: 120px;
  margin-right: 10%;
  border-radius: 10px; 
  border-top-left-radius: 10px;
}


img{
  border-radius: 6px;
  display:block;
}

form{
  width:100%;
}