@media screen and (min-width: 640px){

  #map {width:80%;
  }
  #logo{
    font-size: 40px;
  }
  nav li {

    font-size:25px;
    }
  /* div {
    padding:20px;
  } */
  #submit {
    width: 20%;
    padding: 20px;

  }
  input{
    width: 50%;
    padding: 20px;
    text-align:center;
  }
  header{
    padding-left:15px;
  }
  #activities input{
    width:3%
   }
   
 
}