#map {
  border: solid .5em; 
  border-color: #1b992f;
  border-radius: 15px;
}

#legend {
  border:2px solid grey;
  width: 40%;
  margin: 0 auto;
  margin-top: 3em;
  background-color: #D6FFD4;
  padding:7px;
  border-radius: 6px;
}

#legend div h3 {
 text-align: center;
}

#legend div {
  display: inline-block;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

@media screen and (min-width: 650px){

  #map {
    width:80%;

  }
  #logo{
    font-size: 40px;
  }
  nav li {
    display:inline-block;
    font-size:35px;
    padding-right: 4vw;
    /* padding-bottom: 2vh; */
  }

  #submit {
    width: 20%;
    padding: 20px;

  }
  input{
    width: 50%;
    padding: 20px;
    text-align:center;
  }
  header{
    padding-left:15px;
  }
  #activities input{
    width:3%
   }
  #filter li{
    display:inline;
  }
  #filter {
    width: 90%;
  }

}